.header{
    height: 110px;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cac9c9;
    z-index: 1;
}

.left-side{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 48px;
    margin-right: 60px;
    margin-left: 51px;
    cursor: pointer;
}

.youtube-logo{
    height: 40px;
    cursor: pointer;
}

.middle-side{
    flex: 1;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 1000px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 75px;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 30px;
    border: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 4px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
    width: 0;
}

.search-bar::placeholder{
    font-family: Roboto;
    font-size: 30px;
    color: #979696;
}

.search-icon{
    height: 45px;
}


.voise-search-icon{
    height: 45px;
}

.search-button{
    height: 80px;
    width: 125px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    background-color: rgb(241, 241, 241);
    margin-left: -2px;
    border-radius: 4px;
    cursor: pointer;
}

.search-button,
.voise-search-button,
.upload-icon-container,
.apps-icon-container,
.notif-icon-contanier{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voise-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notif-icon-contanier .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Roboto;
    font-size: 20px;
    bottom: -35px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voise-search-button:hover .tooltip,
.apps-icon-container:hover .tooltip,
.upload-icon-container:hover .tooltip,
.notif-icon-contanier:hover .tooltip{
    opacity: 1;
}

.voise-search-button{
    height: 80px;
    width: 80px;
    border-style: none;
    background-color: rgb(248, 248, 248);
    border-radius: 50px;
    margin-left: 15px;
}

.right-side{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 17px;
    flex-shrink: 0;
}

.upload{
    height: 50px;
}

.youtube-apps{
    height: 50px;
}

.notif{
    height: 50px;
}

.channel-logo{
    height: 70px;
    margin-right: 20px;
    border-radius: 100px;
    cursor: pointer;
}

.notif-icon-contanier{
    position: relative;
}

.notif-number{
    position: absolute;
    top: -4px;
    right: -12px;
    color: white;
    background-color: #c30a0a;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    font-family: Roboto;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 30px;
}
