.side-bar{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 110px;
    width: 145px;
    z-index: 999;
}

.sidebar-link img{
    height: 160px;
    transition: all 0.2s;
    width: 55px;
}

.sidebar-link:hover{
    background-color: #e6e6e6;
}
