
.button-1{
    border: solid;
    background-color: whitesmoke;
    border-color: gray;
    color: gray;
    cursor: pointer;
    box-shadow: 3px 3px 10px gray;
    transition: background-color 0.5s,
    color 0.5s,
    box-shadow 0.5s,
    font-weight 0.5s,
    font-size 0.4s,
    transform 0.2s,
    padding-top 0.3s, padding-bottom 0.3s;
    margin-left: 20px;
}

.button-1:hover {
    box-shadow: 3px 3px 10px gray;
    border: solid;
    background-color: gray;
    color: white;
    border-color: gray;
    font-weight: bold;
    font-size: 20px;
}

.button-1:active {
    padding-top: 8px;
    padding-bottom: 10px;
    box-shadow: none;
    transform: translate(2px, 2px);
}