body{
    font-family: Arial, Helvetica, sans-serif;
}

.todo-grid{
    display: grid;
    grid-template-columns:150px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
}

.todo2-name, .todo2-date{
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.add-button, .delete-button{
    border: none;
    border-radius: 2px;
    background-color: green;
    color: white;
}

.delete-button{
    background-color: red;
}

.todo-text{
    margin: 0;
    padding: 7px;
}


