body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 30px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    color: gray;
    font-size: 18px;
}

.counter-section {
    margin: 0;
}

#counter {
    font-size: 40px;
    margin: 30px 0 0 0;
}

.buttons{
    margin: 30px 0 0 0;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#increaseBtn {
    background-color: #4CAF50;
    color: white;
}

#resetBtn {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}
