body{
    /*background-color: rgb(115, 21, 21);*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    align-content: center;
    margin: 0;
    position: relative;
}

p{
    display: inline-block;
}