
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 25, 25);
    color: white;
}

.Header{
    font-size: 30px;
    font-weight: bold;
}

.move-img{
    width: 50px;
}

.move-button{
    width: 120px;
    height: 120px;
    background-color: rgb(25, 25, 25);
    border: 3px solid white;
    border-radius: 100px;
    margin-right: 10px;
    cursor: pointer;
}

.css-resut{
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
}

.score{
    margin-top: 40px;
}

.reset, .auto-play{
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    background-color: white;
    cursor: pointer;
}
